version: '3.0'

name: TorrClient
services:
  torrclient:
    container_name: torrclient
    hostname: torrclient
    image: jarvisnexus/torrclient:latest
    ports:
      - "4444:80"
    restart: unless-stopped